:root {
  --green: rgb(1, 178, 45);
}

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@600&display=swap");

body {
  font-family: "Fredoka One", cursive;
}

.habit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 2%;
  margin-bottom: 2%;
  position: relative;
  overflow: hidden;
  animation: Desaparecer 0.7s linear forwards;
  animation-play-state: paused;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.habit-delete {
  padding: 0.5rem;
  background-color: crimson;
  color: white;
  border: none;
  z-index: 2;
}

.new-habit-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: hidden;
}

.new-habit-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 40%;
  padding: 2%;
  background-color: white;
  animation: FallDown 0.5s linear forwards;
}

.new-habit-input {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
}

.new-habit-input,
.new-habit-submit,
.new-habit-cancel {
  font-family: "Fredoka One", cursive;
}

.new-habit-submit,
.new-habit-cancel {
  padding: 1rem;
  color: white;
  outline: none;
  border: none;
  font-family: "Fredoka One", cursive;
}

.new-habit-cancel {
  background-color: crimson;
}
.new-habit-cancel:hover {
  background-color: #97102b;
}

.new-habit-submit {
  background-color: var(--green);
}

.new-habit-submit:hover {
  background-color: rgb(1, 117, 30);
}

.new-habit-title {
  font-size: 2.4rem;
  color: var(--green);
  text-align: center;
}

.new-habit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0rem;
}

.habit-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  padding: 0.9rem;
  background: white;
  border-radius: 0.25em;
  border: 0.125em solid #555;
  position: relative;
  margin-right: 2rem;
  z-index: 2;
}

.habit-checkbox:checked::after {
  content: "✔";
  position: absolute;
  font-size: 1.8rem;
  left: 0.1em;
  top: -0.25em;
  color: var(--green);
  z-index: 2;
}

/* Animations */
@keyframes FallDown {
  100% {
    transform: translateY(0);
  }
  0%,
  10% {
    transform: translateY(-300px);
  }
}

@keyframes check {
  0% {
    transform: translateX(-100%) rotate(360deg);
  }

  95% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes uncheck {
  0% {
    transform: translateX(100%) rotate(360deg);
  }

  95% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes Desaparecer {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

.check {
  content: "";
  position: absolute;
  top: -50%;
  left: -43%;
  background-color: var(--green);
  width: 170%;
  aspect-ratio: 1/1;
  animation: check 2s linear forwards;
  animation-play-state: paused;
  border-radius: 25%;
  z-index: 1;
}

.uncheck {
  content: "";
  position: absolute;
  bottom: -50%;
  right: -43%;
  background-color: white;
  width: 170%;
  aspect-ratio: 1/1;
  animation: uncheck 2s linear forwards;
  animation-play-state: paused;
  border-radius: 25%;
}

.habit-title {
  z-index: 2;
}
