.page-container {
  display: flex;
  width: 100%;
}

.homepage-habits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-navbar {
  display: flex;
  flex: 0 0 150px;
  height: 100vh;
  overflow: hidden;
}

.main-content-wrapper {
  width: 100%;
  z-index: 9;
}

.nav-container {
  display: flex;
  height: 100%;
  max-width: fit-content;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3%;
  border: 1px solid black;
  box-shadow: 0rem 0rem 2rem black;
  margin: 0rem 2rem 0rem 0rem;
  z-index: 1;
  background-color: white;
}

.nav-button {
  aspect-ratio: 1/1;
  margin: 1rem;
}

.home-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.habit-wrapper {
  width: 100%;
  margin-top: 2rem;
}
